<p>
  <mat-toolbar color= #D50909>
    <button mat-icon-button class="menu-icon" >
      <mat-icon>menu</mat-icon>
    </button>
    <span>King smoke shop</span>
    <a mat-button="">eliqued list</a>
    <a mat-button="">invintory</a>
    <a mat-button="">spectial</a>
  <!-- <span class="example-fill-remaining-space"></span> -->
  <span style="float: right; flex: 1 1 auto;"></span>
     <a mat-button=""  >support</a>
     <a mat-button=""  >about us</a>
     <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
  </mat-toolbar>
</p>


